body{
    background-color: black;
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 1400px;
    /* margin-top: 20px; */
    
}



header .btn-primary{
    width: 100px;
    font-size: 18px;
    
}


header .btn-primary:hover{
    background-color: rgba(53, 59, 97, 0.9);
    color: #0dcaf0;
    transform: scale(1.1);
     transition: 1s; 

    }


main{
    background-color: black;
}

.principal{
    background-image: url('../image/BR-pt-20211220-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    height: 785px;
    position: relative;}

.segundo{
   z-index: 10;}


.principal h1{
    max-width: 560px;
    font-size: 55px; }


  .segundo  .btn-primary{
        width: 50%;
        font-size: 20px;
        text-transform: uppercase; }


    .btn-primary:hover{
        background-color: rgba(53, 59, 97, 0.6);
        color: #0dcaf0;
        transform: scale(1.1);
        transition: 1s; 
    }


 .gradient{
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

 }

 .section-one{
     background-color: black;
     align-items: center;
     margin-bottom: 200px;
     margin-top: 50px;
     
 }

 .grid{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
 }

 

 .img-thumbnail {
    width: 500px;
     max-width: 100%;
     /* position: relative;
     left: 400px; */
     
 }


 .cards{
     background-color: black;

 }

 .card{
    margin-bottom: 100px;
    flex-wrap: wrap;
    
    
 }

 .card-img-top{
     width: 286px;
     height: 190px;
     flex-basis: auto;
 } 


 .pai{
     width: 60%;
     margin: auto;
 }


 footer{
     background-color: black;
     height: 100px;
 }